# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider files
.idea/

# Build output
*.dll
*.exe
*.pdb
*.mdb

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET
ScaffoldingReadMe.txt

# dotnet tool
.config/dotnet-tools.json

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
appsettings.*.local.json
# .env  -- Commit .env file for the test exercise
# *.env
# .env.*
